body {
  background-color: #2a2a2a;
}

.grid {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.grid > li {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 15px;
}
.filters {
  margin-top: 40px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid li img {
  max-width: 100%;
  border-radius: 10px;
}
.filters button {
  padding: 10px 25px;
  margin: 0px 5px;
  background-color: #121212;
  border: none;
  border-radius: 10px;
  transition: 150ms;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  position: relative;
  outline: none;
  cursor: pointer;
}
.filters button.is-checked {
  background-color: #fff;
  color: #121212;
}
.element-item > div {
  padding: 20px 15px;
  background-color: #121212;
  color: #dddddd;
}
.element-item p {
  font-size: 18px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .filters button {
    padding: 5px 10px;
    margin: 5px;
  }
  .grid > li {
    width: calc(100% - 30px);
  }
  .element-item p {
    font-size: 16px;
    line-height: 22px;
  }
}