@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


@font-face {
  font-family: Main;
  src: url(../a.otf);
}
body{
  background-image: url("./img/bg2.png");
  background-size: cover;
  font-family: Main;
}

.main{
  text-align: center;
  font-size: 64px;
  color: white;
  border: 12cm;
  border-color: black;
}

.main2{
  background-repeat: no-repeat; margin-top: 600px;background-image: url(images/4.png);background-position: center;width:30%;  transform: translateX(120%);  text-align: center; height:30vh; position:relative;z-index:5;
}
.island{
  background-color: white;
  border-radius: 150px;
  background-position: center;
  text-align: center;
  height:20%;
}
.island button{
  border: none;
  background: none;
}
