@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
.notifications {
  position: absolute;
  bottom: 0;
  left: 0;
}

.notify {
  width: 300px;
  height: 70px;
  background-color: whitesmoke;
  border-radius: 7px;
  box-shadow: 0 1px 4px #1c4963;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 0;
}

.notify:first-child {
  margin: 0 0 10px 0;
}

.circle {
  width: 28px;
  height: 20px;
  display: block;
  border-radius: 100%;
  transform: translate(17px, 17px);
  color: whitesmoke;
  padding: 10px 0 10px 13px;
}

.gr > .circle {
  background-color: #38ad65;
}

.gr > .info span:first-child {
  color: #38ad65;
}

.rd > .circle {
  background-color: #de3b12;
}

.rd > .info span:first-child {
  color: #de3b12;
}

.or > .circle {
  background-color: #c87a46;
}

.or > .info span:first-child {
  color: #c87a46;
}

.bl > .circle {
  background-color: #225877;
}

.bl > .info span:first-child {
  color: #225877;
}

.info {
  width: 230px;
  height: 70px;
  transform: translate(70px, -35px);
  padding: 10px;
}

.info span:first-child {
  display: block;
  color: #38ad65;
  font-weight: 600;
  font-size: 15px;
}

.info span:last-child {
  color: #919191;
  font-size: 13px;
}

.info span a {
  color: #545454;
  text-decoration: none;
  font-weight: 600;
}