@font-face {
  font-family: Main;
  src: url(../a.otf);
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Main";
}

.main{
  zoom: 1.2;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  width: 95%;
  height: 50px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  left: 2.5%;
}

.main h1{
  position: absolute;
 left: 1.5%;
  bottom: 28%;
  font-family: "Main";
  font-size: 24px;
}

.main h1:hover{
  animation-name: backgroundColorPalette;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes backgroundColorPalette {
  0% {
    color: #ee6055;
  }
  25% {
    color: #60d394;
  }
  50% {
    color: #aaf683;
  }
  75% {
    color: #ffd97d;
  }
  100% {
    color: #ff9b85;
  }
}